* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	line-height: 28px;
}

/* Reusable */

.container {
	/* border: 1px solid red; */
	width: 980px;
	margin: 0 auto;
}

.container-fluid {
	width: 1400px;
}

img {
	width: 100%;
}

.mission-color-light {
	color: #ffad5a;
}

.mission-color-red {
	color: #ff5959;
}

.btn-red {
	background: #ff5959;
	border: none;
	padding: 15px 25px;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	margin: 20px 0;
	font-family: inherit;
}

.text-center {
	text-align: center;
}

.common-section {
	display: flex;
	margin: 100px 0;
}

/* Welcome Section */

#welcome {
	margin: 100px 0;
}

.welcome-text,
.welcome-image {
	width: 50%;
}

.welcome-text {
	align-self: center;
}

.welcome-text h1 {
	margin-top: 100px;
	font-family: "Yeseva One", cursive;
	font-size: 55px;
	line-height: 80px;
	font-weight: normal;
	border-left: 5px solid #ff5959;
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 20px;
}

.welcome-text p {
	font-family: inherit;
}

.welcome-image {
	width: 50%;
}

.welcome-image img {
	width: 60%;
	display: block;
	margin: 0 auto;
}

/* My Mission */

#my-mission h2 {
	font-family: inherit;
	font-weight: bold;
	font-size: 48px;
	line-height: 70px;
	color: #13103a;
}

.mission-item {
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
}

.mission-item img {
	width: 45%;
}

.mission-item h3 {
	font-family: inherit;
	font-weight: 600;
	color: #000;
	text-align: left;
	margin-bottom: 15px;
}

.mission-item p {
	padding-top: 10px;
	text-align: left;
	font-size: 16px;
	color: #424242;
}

.mission-item__one {
	background: #edf5f6;
}

.mission-item__two {
	background: #ffeeee;
}

.mission-item__three {
	background: #fff4d6;
}

/* Develop Section */

#develop {
	padding: 0 65px;
	background-image: url("./images/shapes/shape-1.png");
	background-repeat: no-repeat;
	background-position: 10px 65px;
	background-size: 20%;
}

.develop-image {
	border-radius: 10px;
	margin-top: 30px;
}

.develop-image img {
	width: 100%;
}

.develop-text {
	padding-left: 40px;
	padding-top: 20px;
	margin-top: 20px;
}

.develop-text h2 {
	font-family: inherit;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.develop-text p {
	text-align: justify;
}

/* Community Section */

#community {
	padding: 0 65px;
	padding-bottom: 100px;
	background-image: url("./images/shapes/shape-1.png");
	background-repeat: no-repeat;
	background-position: right 245px;
	background-size: 20%;
}

.community-image {
	border-radius: 10px;
	margin-top: 30px;
}

.community-image img {
	width: 100%;
}

.community-text {
	padding-right: 40px;
	padding-top: 20px;
	margin-top: 20px;
}

.community-text h2 {
	font-family: inherit;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.community-text p {
	text-align: justify;
}

/* Own Section */
#own-section h2 {
	font-size: 48px;
	font-family: inherit;
	font-style: bold;
	line-height: 74px;
}

#own-section .common-section {
	margin-top: 10px;
}

#own-section h2 {
	margin-bottom: 40px;
}

.own-section__map {
	width: 50%;
	padding-left: 30px;
}

.own-section__map iframe {
	width: 90%;
	height: 100%;
	margin-right: 10px;
}

.own-section__form {
	width: 50%;
	padding-right: 5px;
}

.own-section__form .form-group {
	margin-bottom: 10px;
}

.own-section__form label {
	display: block;
	padding-bottom: 5px;
}

.own-section__form input,
.own-section__form email,
.own-section__form textarea {
	width: 100%;
	padding: 12px;
	outline: none;
	border: 1px solid #ccc;
	resize: vertical;
}

.own-section__form textarea {
	padding: 50px;
}

/* Footer Section */
footer {
	padding: 50px 0;
	background: #0b0d17;
}

footer h2 {
	font-size: 36px;
	font-family: Lobster;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #fff;
	margin-bottom: 10px;
}

footer p {
	font-family: Manrope;
	font-size: 14px;
	line-height: 24px;
	color: #d9dbe1;
}
